.lightMode{
    background: linear-gradient(#fff,#639fb3);
}

.darkMode{
    background: linear-gradient(#000,#034f83);
}

.darkMenu{
    background-color: #01253e;
}

.lightMenu{
    background-color: #639fb3;
}

.darkBackG{
    background-color: #333;
    color: #fff;
}

.lightBackG{
    background-color: #ccc;
}

.hide{
    display: none;
}

.dark-titles{
    color: #ebf7f6;
    padding: 7px;
    background-color: #234;
    box-shadow: inset -2px -5px #222;
}

.light-titles{
    color: #1b2726;
    padding: 7px;
    background-color: #83bfe3;
    box-shadow: inset -2px -5px #ebf7f6;
}

.light-text{
    background-color: #ccc;
    color: #1b1716;
}

.dark-text{
    background-color: #222;
    color: #ebf7f6;
}

.htmlImgDark {
    background-image: url(../images/htmlD.png);
}

.cssImgDark {
    background-image: url(../images/cssD.png);
}

.jsImgDark {
    background-image: url(../images/jsD.png);
}

.htmlImgLight {
    background-image: url(../images/htmlL.png);
}

.cssImgLight {
    background-image: url(../images/cssL.png);
}

.jsImgLight {
    background-image: url(../images/jsL.png);
}
