html {
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #c00;
    color: #03111e;
}

.menu-bar, .project-menu-bar {
    z-index: 100;
    position: fixed;
    top: 10px;
    width: 99%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
}

.menu-bar {
    backdrop-filter: blur(33px);
}

.menu {
    padding: 20px;
    border-radius: 100%;
    transition-property: hover;
    transition: 0.5s;
}

.menu:hover {
    background-color: #555;
}

.menu:active {
    background-color: #fff;
}

.menu-box {
    z-index: 75;
    position: fixed;
    top: 25%;
    left: 0;
    padding: 10px;
    width: 150px;
    height: fit-content;
    background-color: #048;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 10px 10px 15px #111;
}

.menu-box h2 {
    color: #ebe;
}

.menu-box a {
    color: #8bf;
    display: block;
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
    transition: 1s;
}

.menu-box a:hover {
    background-color: #48e;;
}

#btn-dlm {
    padding: 20px;
}

.name-stuff {
    justify-content: center;
    display: flex;
    margin-top: 150px;
    padding: 50px;
    height: 300px;
}

.name {
    display: block;
    color: #48e;
    padding-left: 50px;
    text-align: center;
}

.knowledge {
    overflow: scroll;
    scroll-behavior: smooth;
    display: flex;
    padding: 30px;
    height: fit-content;
}

.projects {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    height: fit-content;
}

.knowledge h5, .projects h5{
    text-align: center;
    padding: 5px;
}

.knowledge div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0 14%;
    border-radius: 7px;
}

.projects a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.knowledge svg, .projects svg {
    margin: auto;
}

.about-me {
    margin: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    display: flex;
    padding: 0 30px 30px 30px;
    min-height: 200px;
}

.contact-box {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    height: fit-content;
}

.contact-box div {
    text-align: center;
    width: fit-content;
}

.contact-box p {
    border-radius: 5px;
    padding: 3px 5px;
}

.no-mobile {
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.no-mobile h3 {
    padding: 30px;
    margin-top: 60px;
    text-align: center;
}

.webSvg {
    width: 120px;
    height: 120px;
}

.mobileSvg {
    width: 60px;
    height: 60px;
}

.web-titles {
    font-size: 1.5rem
}

.mobile-titles {
    font-size: 1rem
}

.web-text {
    font-size: 1.5rem
}

.mobile-text {
    font-size: 1rem
}

.contact-web-svg {
    width: 60px;
}

.contact-mobile-svg {
    width: 30px;
}
