html{
    height: 100%;
}

.title1{
    margin-top: 90px !important;
}

body p{
    padding: 10px;
}

.conteiner
{
    min-height: 250px;
    max-height: 350px;
    overflow: scroll;
    border-radius: 4px;
    padding: 10px;
    padding-top: 0;
}

.input
{
    border-bottom: 2px solid #fff;
    display: flex;
}

.input div
{
    margin: auto;
    padding: 10px 0;
}

#data__input, #btn__add
{
    padding: 5px;
    outline: none;
    margin: 0 5px;
}

#data__input{
    width: 120px;
}

#btn__add
{
    background: #55d;
    border-radius: 7px;
    color: #fff;
}

#btn__add:hover
{
    background: #169;
}

#btn__add:active
{
    background: #3da;
}

.elements
{
    display: flex;
    margin: 7px 0;
    padding: 3px 0;
    border-bottom: 2px solid lightblue;
}

.thing
{
    padding: 0;
    margin: auto;
    outline: none;
}

.impossible, .btn__delete, .possible
{
    padding: 0 5px;
    margin: 0 5px;
    outline: none;
    background: transparent;
    border: none;
}

.possible
{
    color: #48e;
}

.possible:hover
{
    color: #169;
}

.possible:active
{
    color: #04d;
}

.btn__delete
{
    color: #d33;
}

.btn__delete:hover
{
    color: #d44;
}

.btn__delete:active
{
    color: #f11;
}

.impossible
{
    color: #777;
}
